In [2]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn import metrics

In [3]:
#One Hot Encoded Model

In [4]:
train = 'C:\\Users\\rrsoo\\Advanced Stuff\\Titanic\\train.csv'
test = "C:\\Users\\rrsoo\\Advanced Stuff\\Titanic\\test.csv"
gender_submission = "C:\\Users\\rrsoo\\Advanced Stuff\\Titanic\\gender_submission.csv"

In [5]:
read_training_data = pd.read_csv(train)
y_train = read_training_data.Survived
read_training_data = read_training_data.drop(['Name', 'PassengerId', 'Survived', 'Ticket', 'Cabin'], axis = 'columns') #Name and PassengerId irrelavent to survival
read_training_data = read_training_data
read_testing_data = pd.read_csv(test)
read_testing_data = read_testing_data.drop(['Name', 'PassengerId', 'Ticket', 'Cabin'], axis = 'columns')
read_submission_data = pd.read_csv(gender_submission)
read_training_data

     Pclass     Sex   Age  SibSp  Parch      Fare Embarked
0         3    male  22.0      1      0    7.2500        S
1         1  female  38.0      1      0   71.2833        C
2         3  female  26.0      0      0    7.9250        S
3         1  female  35.0      1      0   53.1000        S
4         3    male  35.0      0      0    8.0500        S
5         3    male   NaN      0      0    8.4583        Q
6         1    male  54.0      0      0   51.8625        S
7         3    male   2.0      3      1   21.0750        S
8         3  female  27.0      0      2   11.1333        S
9         2  female  14.0      1      0   30.0708        C
10        3  female   4.0      1      1   16.7000        S
11        1  female  58.0      0      0   26.5500        S
12        3    male  20.0      0      0    8.0500        S
13        3    male  39.0      1      5   31.2750        S
14        3  female  14.0      0      0    7.8542        S
15        2  female  55.0      0      0   16.0000        S
16        3    male   2.0      4      1   29.1250        Q
17        2    male   NaN      0      0   13.0000        S
18        3  female  31.0      1      0   18.0000        S
19        3  female   NaN      0      0    7.2250        C
20        2    male  35.0      0      0   26.0000        S
21        2    male  34.0      0      0   13.0000        S
22        3  female  15.0      0      0    8.0292        Q
23        1    male  28.0      0      0   35.5000        S
24        3  female   8.0      3      1   21.0750        S
25        3  female  38.0      1      5   31.3875        S
26        3    male   NaN      0      0    7.2250        C
27        1    male  19.0      3      2  263.0000        S
28        3  female   NaN      0      0    7.8792        Q
29        3    male   NaN      0      0    7.8958        S
..      ...     ...   ...    ...    ...       ...      ...
861       2    male  21.0      1      0   11.5000        S
862       1  female  48.0      0      0   25.9292        S
863       3  female   NaN      8      2   69.5500        S
864       2    male  24.0      0      0   13.0000        S
865       2  female  42.0      0      0   13.0000        S
866       2  female  27.0      1      0   13.8583        C
867       1    male  31.0      0      0   50.4958        S
868       3    male   NaN      0      0    9.5000        S
869       3    male   4.0      1      1   11.1333        S
870       3    male  26.0      0      0    7.8958        S
871       1  female  47.0      1      1   52.5542        S
872       1    male  33.0      0      0    5.0000        S
873       3    male  47.0      0      0    9.0000        S
874       2  female  28.0      1      0   24.0000        C
875       3  female  15.0      0      0    7.2250        C
876       3    male  20.0      0      0    9.8458        S
877       3    male  19.0      0      0    7.8958        S
878       3    male   NaN      0      0    7.8958        S
879       1  female  56.0      0      1   83.1583        C
880       2  female  25.0      0      1   26.0000        S
881       3    male  33.0      0      0    7.8958        S
882       3  female  22.0      0      0   10.5167        S
883       2    male  28.0      0      0   10.5000        S
884       3    male  25.0      0      0    7.0500        S
885       3  female  39.0      0      5   29.1250        Q
886       2    male  27.0      0      0   13.0000        S
887       1  female  19.0      0      0   30.0000        S
888       3  female   NaN      1      2   23.4500        S
889       1    male  26.0      0      0   30.0000        C
890       3    male  32.0      0      0    7.7500        Q

[891 rows x 7 columns]

In [6]:
read_testing_data

     Pclass     Sex   Age  SibSp  Parch      Fare Embarked
0         3    male  34.5      0      0    7.8292        Q
1         3  female  47.0      1      0    7.0000        S
2         2    male  62.0      0      0    9.6875        Q
3         3    male  27.0      0      0    8.6625        S
4         3  female  22.0      1      1   12.2875        S
5         3    male  14.0      0      0    9.2250        S
6         3  female  30.0      0      0    7.6292        Q
7         2    male  26.0      1      1   29.0000        S
8         3  female  18.0      0      0    7.2292        C
9         3    male  21.0      2      0   24.1500        S
10        3    male   NaN      0      0    7.8958        S
11        1    male  46.0      0      0   26.0000        S
12        1  female  23.0      1      0   82.2667        S
13        2    male  63.0      1      0   26.0000        S
14        1  female  47.0      1      0   61.1750        S
15        2  female  24.0      1      0   27.7208        C
16        2    male  35.0      0      0   12.3500        Q
17        3    male  21.0      0      0    7.2250        C
18        3  female  27.0      1      0    7.9250        S
19        3  female  45.0      0      0    7.2250        C
20        1    male  55.0      1      0   59.4000        C
21        3    male   9.0      0      1    3.1708        S
22        1  female   NaN      0      0   31.6833        S
23        1    male  21.0      0      1   61.3792        C
24        1  female  48.0      1      3  262.3750        C
25        3    male  50.0      1      0   14.5000        S
26        1  female  22.0      0      1   61.9792        C
27        3    male  22.5      0      0    7.2250        C
28        1    male  41.0      0      0   30.5000        S
29        3    male   NaN      2      0   21.6792        C
..      ...     ...   ...    ...    ...       ...      ...
388       3    male  21.0      0      0    7.7500        Q
389       3    male   6.0      3      1   21.0750        S
390       1    male  23.0      0      0   93.5000        S
391       1  female  51.0      0      1   39.4000        S
392       3    male  13.0      0      2   20.2500        S
393       2    male  47.0      0      0   10.5000        S
394       3    male  29.0      3      1   22.0250        S
395       1  female  18.0      1      0   60.0000        S
396       3    male  24.0      0      0    7.2500        Q
397       1  female  48.0      1      1   79.2000        C
398       3    male  22.0      0      0    7.7750        S
399       3    male  31.0      0      0    7.7333        Q
400       1  female  30.0      0      0  164.8667        S
401       2    male  38.0      1      0   21.0000        S
402       1  female  22.0      0      1   59.4000        C
403       1    male  17.0      0      0   47.1000        S
404       1    male  43.0      1      0   27.7208        C
405       2    male  20.0      0      0   13.8625        C
406       2    male  23.0      1      0   10.5000        S
407       1    male  50.0      1      1  211.5000        C
408       3  female   NaN      0      0    7.7208        Q
409       3  female   3.0      1      1   13.7750        S
410       3  female   NaN      0      0    7.7500        Q
411       1  female  37.0      1      0   90.0000        Q
412       3  female  28.0      0      0    7.7750        S
413       3    male   NaN      0      0    8.0500        S
414       1  female  39.0      0      0  108.9000        C
415       3    male  38.5      0      0    7.2500        S
416       3    male   NaN      0      0    8.0500        S
417       3    male   NaN      1      1   22.3583        C

[418 rows x 7 columns]

In [7]:
#Setting up dummy variables for training data
dummies2_train = pd.get_dummies(read_training_data.Sex)
#dummies3_train = pd.get_dummies(read_training_data.Ticket)
#dummies4_train = pd.get_dummies(read_training_data.Cabin)
dummies5_train = pd.get_dummies(read_training_data.Embarked)
#Setting up dummy variables for testing data
dummies2_test = pd.get_dummies(read_testing_data.Sex)
#dummies3_test = pd.get_dummies(read_testing_data.Ticket)
#dummies4_test = pd.get_dummies(read_testing_data.Cabin)
dummies5_test = pd.get_dummies(read_testing_data.Embarked)
dummies2_train

     female  male
0         0     1
1         1     0
2         1     0
3         1     0
4         0     1
5         0     1
6         0     1
7         0     1
8         1     0
9         1     0
10        1     0
11        1     0
12        0     1
13        0     1
14        1     0
15        1     0
16        0     1
17        0     1
18        1     0
19        1     0
20        0     1
21        0     1
22        1     0
23        0     1
24        1     0
25        1     0
26        0     1
27        0     1
28        1     0
29        0     1
..      ...   ...
861       0     1
862       1     0
863       1     0
864       0     1
865       1     0
866       1     0
867       0     1
868       0     1
869       0     1
870       0     1
871       1     0
872       0     1
873       0     1
874       1     0
875       1     0
876       0     1
877       0     1
878       0     1
879       1     0
880       1     0
881       0     1
882       1     0
883       0     1
884       0     1
885       1     0
886       0     1
887       1     0
888       1     0
889       0     1
890       0     1

[891 rows x 2 columns]

In [8]:
#Merging the training data
merged_train = pd.concat([read_training_data, dummies2_train, 
                          dummies5_train], axis = 'columns') #Removed Dummies 3,4 (Ticket)
#Merging the testing data
merged_test = pd.concat([read_testing_data, dummies2_test,
                          dummies5_test], axis = 'columns')
merged_train

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,female,male,C,Q,S
0,3,male,22.0,1,0,7.2500,S,0,1,0,0,1
1,1,female,38.0,1,0,71.2833,C,1,0,1,0,0
2,3,female,26.0,0,0,7.9250,S,1,0,0,0,1
3,1,female,35.0,1,0,53.1000,S,1,0,0,0,1
4,3,male,35.0,0,0,8.0500,S,0,1,0,0,1
5,3,male,NaN,0,0,8.4583,Q,0,1,0,1,0
6,1,male,54.0,0,0,51.8625,S,0,1,0,0,1
7,3,male,2.0,3,1,21.0750,S,0,1,0,0,1
8,3,female,27.0,0,2,11.1333,S,1,0,0,0,1
9,2,female,14.0,1,0,30.0708,C,1,0,1,0,0
10,3,female,4.0,1,1,16.7000,S,1,0,0,0,1
11,1,female,58.0,0,0,26.5500,S,1,0,0,0,1
12,3,male,20.0,0,0,8.0500,S,0,1,0,0,1
13,3,male,39.0,1,5,31.2750,S,0,1,0,0,1
14,3,female,14.0,0,0,7.8542,S,1,0,0,0,1
15,2,female,55.0,0,0,16.0000,S,1,0,0,0,1
16,3,male,2.0,4,1,29.1250,Q,0,1,0,1,0
17,2,male,NaN,0,0,13.0000,S,0,1,0,0,1
18,3,female,31.0,1,0,18.0000,S,1,0,0,0,1
19,3,female,NaN,0,0,7.2250,C,1,0,1,0,0
20,2,male,35.0,0,0,26.0000,S,0,1,0,0,1
21,2,male,34.0,0,0,13.0000,S,0,1,0,0,1
22,3,female,15.0,0,0,8.0292,Q,1,0,0,1,0
23,1,male,28.0,0,0,35.5000,S,0,1,0,0,1
24,3,female,8.0,3,1,21.0750,S,1,0,0,0,1
25,3,female,38.0,1,5,31.3875,S,1,0,0,0,1
26,3,male,NaN,0,0,7.2250,C,0,1,1,0,0
27,1,male,19.0,3,2,263.0000,S,0,1,0,0,1
28,3,female,NaN,0,0,7.8792,Q,1,0,0,1,0
29,3,male,NaN,0,0,7.8958,S,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
861,2,male,21.0,1,0,11.5000,S,0,1,0,0,1
862,1,female,48.0,0,0,25.9292,S,1,0,0,0,1
863,3,female,NaN,8,2,69.5500,S,1,0,0,0,1
864,2,male,24.0,0,0,13.0000,S,0,1,0,0,1
865,2,female,42.0,0,0,13.0000,S,1,0,0,0,1
866,2,female,27.0,1,0,13.8583,C,1,0,1,0,0
867,1,male,31.0,0,0,50.4958,S,0,1,0,0,1
868,3,male,NaN,0,0,9.5000,S,0,1,0,0,1
869,3,male,4.0,1,1,11.1333,S,0,1,0,0,1
870,3,male,26.0,0,0,7.8958,S,0,1,0,0,1
871,1,female,47.0,1,1,52.5542,S,1,0,0,0,1
872,1,male,33.0,0,0,5.0000,S,0,1,0,0,1
873,3,male,47.0,0,0,9.0000,S,0,1,0,0,1
874,2,female,28.0,1,0,24.0000,C,1,0,1,0,0
875,3,female,15.0,0,0,7.2250,C,1,0,1,0,0
876,3,male,20.0,0,0,9.8458,S,0,1,0,0,1
877,3,male,19.0,0,0,7.8958,S,0,1,0,0,1
878,3,male,NaN,0,0,7.8958,S,0,1,0,0,1
879,1,female,56.0,0,1,83.1583,C,1,0,1,0,0
880,2,female,25.0,0,1,26.0000,S,1,0,0,0,1
881,3,male,33.0,0,0,7.8958,S,0,1,0,0,1
882,3,female,22.0,0,0,10.5167,S,1,0,0,0,1
883,2,male,28.0,0,0,10.5000,S,0,1,0,0,1
884,3,male,25.0,0,0,7.0500,S,0,1,0,0,1
885,3,female,39.0,0,5,29.1250,Q,1,0,0,1,0
886,2,male,27.0,0,0,13.0000,S,0,1,0,0,1
887,1,female,19.0,0,0,30.0000,S,1,0,0,0,1
888,3,female,NaN,1,2,23.4500,S,1,0,0,0,1
889,1,male,26.0,0,0,30.0000,C,0,1,1,0,0
890,3,male,32.0,0,0,7.7500,Q,0,1,0,1,0

In [9]:
#Final csv file for training data
final_train = merged_train.drop(['Sex', 'Embarked'], axis = 'columns')
final_train

     Pclass   Age  SibSp  Parch      Fare  female  male  C  Q  S
0         3  22.0      1      0    7.2500       0     1  0  0  1
1         1  38.0      1      0   71.2833       1     0  1  0  0
2         3  26.0      0      0    7.9250       1     0  0  0  1
3         1  35.0      1      0   53.1000       1     0  0  0  1
4         3  35.0      0      0    8.0500       0     1  0  0  1
5         3   NaN      0      0    8.4583       0     1  0  1  0
6         1  54.0      0      0   51.8625       0     1  0  0  1
7         3   2.0      3      1   21.0750       0     1  0  0  1
8         3  27.0      0      2   11.1333       1     0  0  0  1
9         2  14.0      1      0   30.0708       1     0  1  0  0
10        3   4.0      1      1   16.7000       1     0  0  0  1
11        1  58.0      0      0   26.5500       1     0  0  0  1
12        3  20.0      0      0    8.0500       0     1  0  0  1
13        3  39.0      1      5   31.2750       0     1  0  0  1
14        3  14.0      0      0    7.8542       1     0  0  0  1
15        2  55.0      0      0   16.0000       1     0  0  0  1
16        3   2.0      4      1   29.1250       0     1  0  1  0
17        2   NaN      0      0   13.0000       0     1  0  0  1
18        3  31.0      1      0   18.0000       1     0  0  0  1
19        3   NaN      0      0    7.2250       1     0  1  0  0
20        2  35.0      0      0   26.0000       0     1  0  0  1
21        2  34.0      0      0   13.0000       0     1  0  0  1
22        3  15.0      0      0    8.0292       1     0  0  1  0
23        1  28.0      0      0   35.5000       0     1  0  0  1
24        3   8.0      3      1   21.0750       1     0  0  0  1
25        3  38.0      1      5   31.3875       1     0  0  0  1
26        3   NaN      0      0    7.2250       0     1  1  0  0
27        1  19.0      3      2  263.0000       0     1  0  0  1
28        3   NaN      0      0    7.8792       1     0  0  1  0
29        3   NaN      0      0    7.8958       0     1  0  0  1
..      ...   ...    ...    ...       ...     ...   ... .. .. ..
861       2  21.0      1      0   11.5000       0     1  0  0  1
862       1  48.0      0      0   25.9292       1     0  0  0  1
863       3   NaN      8      2   69.5500       1     0  0  0  1
864       2  24.0      0      0   13.0000       0     1  0  0  1
865       2  42.0      0      0   13.0000       1     0  0  0  1
866       2  27.0      1      0   13.8583       1     0  1  0  0
867       1  31.0      0      0   50.4958       0     1  0  0  1
868       3   NaN      0      0    9.5000       0     1  0  0  1
869       3   4.0      1      1   11.1333       0     1  0  0  1
870       3  26.0      0      0    7.8958       0     1  0  0  1
871       1  47.0      1      1   52.5542       1     0  0  0  1
872       1  33.0      0      0    5.0000       0     1  0  0  1
873       3  47.0      0      0    9.0000       0     1  0  0  1
874       2  28.0      1      0   24.0000       1     0  1  0  0
875       3  15.0      0      0    7.2250       1     0  1  0  0
876       3  20.0      0      0    9.8458       0     1  0  0  1
877       3  19.0      0      0    7.8958       0     1  0  0  1
878       3   NaN      0      0    7.8958       0     1  0  0  1
879       1  56.0      0      1   83.1583       1     0  1  0  0
880       2  25.0      0      1   26.0000       1     0  0  0  1
881       3  33.0      0      0    7.8958       0     1  0  0  1
882       3  22.0      0      0   10.5167       1     0  0  0  1
883       2  28.0      0      0   10.5000       0     1  0  0  1
884       3  25.0      0      0    7.0500       0     1  0  0  1
885       3  39.0      0      5   29.1250       1     0  0  1  0
886       2  27.0      0      0   13.0000       0     1  0  0  1
887       1  19.0      0      0   30.0000       1     0  0  0  1
888       3   NaN      1      2   23.4500       1     0  0  0  1
889       1  26.0      0      0   30.0000       0     1  1  0  0
890       3  32.0      0      0    7.7500       0     1  0  1  0

[891 rows x 10 columns]

In [10]:
#Final csv file for testing data
final_test = merged_test.drop(['Sex', 'Embarked'], axis = 'columns')
final_test

     Pclass   Age  SibSp  Parch      Fare  female  male  C  Q  S
0         3  34.5      0      0    7.8292       0     1  0  1  0
1         3  47.0      1      0    7.0000       1     0  0  0  1
2         2  62.0      0      0    9.6875       0     1  0  1  0
3         3  27.0      0      0    8.6625       0     1  0  0  1
4         3  22.0      1      1   12.2875       1     0  0  0  1
5         3  14.0      0      0    9.2250       0     1  0  0  1
6         3  30.0      0      0    7.6292       1     0  0  1  0
7         2  26.0      1      1   29.0000       0     1  0  0  1
8         3  18.0      0      0    7.2292       1     0  1  0  0
9         3  21.0      2      0   24.1500       0     1  0  0  1
10        3   NaN      0      0    7.8958       0     1  0  0  1
11        1  46.0      0      0   26.0000       0     1  0  0  1
12        1  23.0      1      0   82.2667       1     0  0  0  1
13        2  63.0      1      0   26.0000       0     1  0  0  1
14        1  47.0      1      0   61.1750       1     0  0  0  1
15        2  24.0      1      0   27.7208       1     0  1  0  0
16        2  35.0      0      0   12.3500       0     1  0  1  0
17        3  21.0      0      0    7.2250       0     1  1  0  0
18        3  27.0      1      0    7.9250       1     0  0  0  1
19        3  45.0      0      0    7.2250       1     0  1  0  0
20        1  55.0      1      0   59.4000       0     1  1  0  0
21        3   9.0      0      1    3.1708       0     1  0  0  1
22        1   NaN      0      0   31.6833       1     0  0  0  1
23        1  21.0      0      1   61.3792       0     1  1  0  0
24        1  48.0      1      3  262.3750       1     0  1  0  0
25        3  50.0      1      0   14.5000       0     1  0  0  1
26        1  22.0      0      1   61.9792       1     0  1  0  0
27        3  22.5      0      0    7.2250       0     1  1  0  0
28        1  41.0      0      0   30.5000       0     1  0  0  1
29        3   NaN      2      0   21.6792       0     1  1  0  0
..      ...   ...    ...    ...       ...     ...   ... .. .. ..
388       3  21.0      0      0    7.7500       0     1  0  1  0
389       3   6.0      3      1   21.0750       0     1  0  0  1
390       1  23.0      0      0   93.5000       0     1  0  0  1
391       1  51.0      0      1   39.4000       1     0  0  0  1
392       3  13.0      0      2   20.2500       0     1  0  0  1
393       2  47.0      0      0   10.5000       0     1  0  0  1
394       3  29.0      3      1   22.0250       0     1  0  0  1
395       1  18.0      1      0   60.0000       1     0  0  0  1
396       3  24.0      0      0    7.2500       0     1  0  1  0
397       1  48.0      1      1   79.2000       1     0  1  0  0
398       3  22.0      0      0    7.7750       0     1  0  0  1
399       3  31.0      0      0    7.7333       0     1  0  1  0
400       1  30.0      0      0  164.8667       1     0  0  0  1
401       2  38.0      1      0   21.0000       0     1  0  0  1
402       1  22.0      0      1   59.4000       1     0  1  0  0
403       1  17.0      0      0   47.1000       0     1  0  0  1
404       1  43.0      1      0   27.7208       0     1  1  0  0
405       2  20.0      0      0   13.8625       0     1  1  0  0
406       2  23.0      1      0   10.5000       0     1  0  0  1
407       1  50.0      1      1  211.5000       0     1  1  0  0
408       3   NaN      0      0    7.7208       1     0  0  1  0
409       3   3.0      1      1   13.7750       1     0  0  0  1
410       3   NaN      0      0    7.7500       1     0  0  1  0
411       1  37.0      1      0   90.0000       1     0  0  1  0
412       3  28.0      0      0    7.7750       1     0  0  0  1
413       3   NaN      0      0    8.0500       0     1  0  0  1
414       1  39.0      0      0  108.9000       1     0  1  0  0
415       3  38.5      0      0    7.2500       0     1  0  0  1
416       3   NaN      0      0    8.0500       0     1  0  0  1
417       3   NaN      1      1   22.3583       0     1  1  0  0

[418 rows x 10 columns]

In [11]:
#Training data values
features = final_train.columns
X_train = final_train[features]
X_train = X_train.fillna(0)
#Testing data values
features2 = final_test.columns
X_test = final_test[features2]
X_test = X_test.fillna(0)

In [12]:
model = DecisionTreeClassifier(random_state = 4)
model.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=4,
            splitter='best')

In [13]:
y_preds = model.predict(X_test)
y_preds

array([0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1],
      dtype=int64)

In [14]:
ls = np.arange(892,1310)
for i in range(0,418):
    print(str(ls[i])+","+str(y_preds[i]))

892,0
893,0
894,1
895,1
896,0
897,0
898,0
899,1
900,1
901,0
902,0
903,0
904,1
905,0
906,1
907,1
908,0
909,1
910,0
911,0
912,1
913,1
914,1
915,0
916,1
917,0
918,1
919,1
920,1
921,0
922,0
923,1
924,1
925,0
926,1
927,1
928,0
929,0
930,0
931,1
932,1
933,0
934,0
935,1
936,1
937,0
938,0
939,0
940,1
941,1
942,0
943,0
944,1
945,0
946,0
947,0
948,0
949,0
950,0
951,1
952,0
953,0
954,0
955,1
956,0
957,1
958,0
959,0
960,0
961,1
962,1
963,0
964,1
965,0
966,1
967,0
968,0
969,1
970,0
971,1
972,1
973,0
974,0
975,0
976,1
977,0
978,1
979,1
980,1
981,1
982,0
983,0
984,0
985,0
986,0
987,0
988,1
989,0
990,1
991,0
992,1
993,0
994,0
995,0
996,1
997,0
998,0
999,0
1000,0
1001,0
1002,0
1003,1
1004,1
1005,1
1006,1
1007,1
1008,0
1009,1
1010,1
1011,1
1012,1
1013,0
1014,1
1015,0
1016,0
1017,1
1018,0
1019,1
1020,0
1021,0
1022,1
1023,0
1024,0
1025,0
1026,0
1027,0
1028,0
1029,0
1030,0
1031,0
1032,0
1033,1
1034,1
1035,0
1036,1
1037,1
1038,0
1039,0
1040,0
1041,0
1042,1
1043,0
1044,0
1045,1
1046,0
1047,0
1048,1
1049,1
1050,1
1051,1
1052,1
1053,1
1054,1
1055,0
1056,0
1057,1
1058,1
1059,1
1060,1
1061,0
1062,0
1063,0
1064,0
1065,0
1066,0
1067,1
1068,1
1069,1
1070,1
1071,1
1072,0
1073,0
1074,1
1075,0
1076,1
1077,0
1078,1
1079,0
1080,0
1081,0
1082,0
1083,0
1084,1
1085,1
1086,0
1087,0
1088,1
1089,0
1090,0
1091,0
1092,1
1093,1
1094,0
1095,1
1096,0
1097,0
1098,1
1099,0
1100,1
1101,0
1102,1
1103,0
1104,0
1105,0
1106,0
1107,0
1108,1
1109,0
1110,1
1111,0
1112,1
1113,0
1114,1
1115,1
1116,1
1117,0
1118,0
1119,1
1120,0
1121,0
1122,0
1123,1
1124,0
1125,0
1126,0
1127,0
1128,1
1129,1
1130,1
1131,1
1132,1
1133,1
1134,0
1135,0
1136,0
1137,0
1138,1
1139,0
1140,1
1141,0
1142,1
1143,0
1144,0
1145,0
1146,0
1147,0
1148,0
1149,0
1150,1
1151,0
1152,0
1153,0
1154,1
1155,1
1156,0
1157,0
1158,0
1159,0
1160,0
1161,0
1162,1
1163,0
1164,1
1165,1
1166,0
1167,1
1168,0
1169,0
1170,0
1171,0
1172,0
1173,1
1174,1
1175,0
1176,1
1177,0
1178,0
1179,0
1180,0
1181,0
1182,0
1183,0
1184,0
1185,0
1186,0
1187,0
1188,0
1189,0
1190,0
1191,0
1192,0
1193,0
1194,0
1195,0
1196,1
1197,1
1198,1
1199,1
1200,0
1201,0
1202,0
1203,1
1204,0
1205,0
1206,1
1207,0
1208,1
1209,0
1210,0
1211,1
1212,0
1213,0
1214,0
1215,1
1216,1
1217,0
1218,1
1219,0
1220,0
1221,0
1222,1
1223,0
1224,0
1225,1
1226,0
1227,0
1228,0
1229,1
1230,0
1231,0
1232,0
1233,0
1234,1
1235,1
1236,0
1237,0
1238,0
1239,0
1240,0
1241,1
1242,1
1243,0
1244,0
1245,1
1246,1
1247,0
1248,1
1249,0
1250,0
1251,0
1252,0
1253,1
1254,1
1255,1
1256,1
1257,0
1258,0
1259,1
1260,1
1261,0
1262,0
1263,1
1264,0
1265,0
1266,1
1267,1
1268,0
1269,0
1270,0
1271,1
1272,0
1273,0
1274,0
1275,0
1276,1
1277,1
1278,0
1279,0
1280,0
1281,0
1282,1
1283,1
1284,0
1285,0
1286,0
1287,1
1288,0
1289,1
1290,0
1291,0
1292,1
1293,0
1294,1
1295,0
1296,0
1297,1
1298,0
1299,0
1300,1
1301,1
1302,1
1303,1
1304,0
1305,0
1306,1
1307,0
1308,0
1309,1